<!DOCTYPE html>
<html lang="pt-br">
<%- include('./partials/head.ejs') %>
<body>
    
    <%- include('./partials/nav.ejs') %>

    <header class="hero-intro">
        <div class="intro-content">
            <h2 class="pre-title">ENGENHARIA & INOVAÇÃO</h2>
            <h1 class="main-motivation">"O ESPIRÍTO HUMANO PRECISA PREVALECER <span class="highlight">SOBRE A TECNOLOGIA."</span> <span class="quote-author">- ALBERT EINSTEIN</span></h1>
            <p class="sub-motivation">A essência humana impulsiona a tecnologia rumo à inovação.</p>
            <div class="line-decorator"></div>
        </div>
    </header>

    <div>
        <img src="images/banner/banner_index.png" alt="banner" class="banner">
    </div>

    <section class="projects-section">
        <h2>MEUS <span>PROJETOS</span></h2>
        <div class="carousel-container">
            <% if (projects.length > 0) { %>
                <% projects.forEach(project => { %>
                    <a href="/projects/<%= project._id %>" class="project-card text-only">
                        <div class="project-info">
                            <h3><%= project.title %></h3>
                            <p><%= project.snippet %></p>
                            <span class="view-project">Ver Projeto →</span>
                        </div>
                    </a>
                <% }) %>
            <% } else { %>
                <p class="no-projects">Nenhum projeto encontrado.</p>
            <% } %>
        </div>
    </section>

    <%- include('./partials/footer.ejs') %>
</body>
</html>