<!DOCTYPE html>
<html lang="pt-br">
<%- include('./partials/head.ejs') %>
<body>
    
    <%- include('./partials/nav.ejs') %>

    <div>
        <video autoplay muted loop playsinline class="hero-video">
            <source src="/animation/digital_numbers.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>

    <section class="projects-section">
        <h2>MEUS <span>PROJETOS</span></h2>
        <div class="carousel-container">
            <% if (projects.length > 0) { %>
            <% projects.forEach(project => { %>
                <div class="project-card">
                <img src="<%= project.images[0] %>" alt="Project Image">
                <div class="project-info">
                    <h3><%= project.title %></h3>
                    <p><%= project.snippet %></p>
                </div>
                </div>
            <% }) %>
            <% } %>
        </div>
    </section>

    <%- include('./partials/footer.ejs') %>
</body>
</html>